@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LoggedLayout";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p>
    &emsp;&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac velit ac ipsum pharetra accumsan. Nullam ac nisl faucibus, egestas leo in, fermentum dolor. Nullam vitae auctor arcu. Mauris quis nibh porta, blandit nisi vel, rhoncus nisi. Maecenas dapibus turpis non faucibus consectetur. Suspendisse tincidunt sapien a sollicitudin congue. Nulla eget velit sed massa semper scelerisque. Mauris non leo vel risus commodo congue vel id libero.

    Duis eleifend, ligula sit amet finibus sodales, diam tortor eleifend eros, nec tristique tellus sapien a neque. Nulla viverra magna sed velit faucibus porttitor. Curabitur pellentesque posuere vehicula. Quisque urna enim, pharetra sed ante sit amet, porta imperdiet nisl. Morbi vel suscipit sem. Maecenas semper vel felis sagittis maximus. Vestibulum consequat, augue at bibendum interdum, nunc dolor ultricies diam, a malesuada elit leo non nunc.

    Aliquam vitae magna odio. <br /><br /> &emsp;&emsp;&emsp;Aenean at lectus orci. Vivamus at luctus arcu. Duis urna neque, condimentum non porttitor sed, pellentesque at leo. In hac habitasse platea dictumst. Ut quis sollicitudin quam. Cras id pellentesque neque, a rhoncus turpis. Sed velit tortor, sagittis quis tempor vitae, accumsan sit amet ex. Sed pretium eu est eget eleifend. Vestibulum ullamcorper elementum diam ac placerat. Suspendisse at orci tortor. Aenean pulvinar neque sodales, feugiat odio quis, sollicitudin quam. Maecenas tincidunt sagittis sapien a consectetur. Phasellus cursus, arcu vel condimentum gravida, velit diam elementum nibh, nec congue nunc purus ac neque. Curabitur nec egestas velit.

    Aliquam eget turpis tincidunt mauris pellentesque euismod pellentesque sed lorem. Aenean malesuada, urna eget sollicitudin suscipit, purus orci tincidunt nisi, non maximus dolor magna et metus.<br /><br /> &emsp;&emsp;&emsp;Nulla mattis turpis arcu, et gravida ipsum fermentum nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum a nisl non diam pellentesque tristique. Etiam semper porttitor lorem sit amet tincidunt. Cras sem magna, ultricies ac cursus a, porttitor quis turpis. Nam faucibus tempor nisl, et dignissim purus porttitor ut. Maecenas a sapien viverra, tincidunt enim vel, rutrum quam. Curabitur sit amet ante in est pretium rutrum. Ut euismod ante ex, quis mollis arcu bibendum consectetur. Fusce ante ex, vestibulum ut suscipit ac, volutpat eu tortor. Vivamus non urna vel ipsum malesuada auctor nec eu eros. Praesent condimentum venenatis erat eget sollicitudin.

    Sed massa augue, viverra in imperdiet et, fringilla nec ante. Maecenas cursus, dolor vitae faucibus pretium, nunc neque porta mi, nec tincidunt est enim nec libero. Nulla non vehicula ligula. Integer id pharetra dolor. Mauris vitae elit sit amet erat convallis condimentum. Vestibulum et tempor diam. Donec id vehicula ligula. Fusce quis elit a odio suscipit rhoncus vitae eu velit. In venenatis nisi non ipsum dignissim egestas. Curabitur lobortis lacus et lectus aliquet aliquet. Aliquam nec risus elementum, tristique libero eget, mollis felis. Cras ultricies nec nisi sed lacinia. Phasellus sit amet nulla hendrerit, auctor mauris cursus, ullamcorper massa. Donec ac sollicitudin nisl, id dignissim dolor.



</p>

