@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h2 class="display-4">Pokemon of the Week</h2>
        <img src="https://i.dlpng.com/static/png/72594_preview.png" width="400" height="450" />
        <h3 class="display-4">Pikachu</h3>
    </div>
